<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="nlog-internal.log" >
  <time type="FastUTC" />

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="SystemC.Alliance.Logging.Azure"/>
    <add assembly="Microsoft.Azure.EventHubs"/>
  </extensions>
  
  <targets>
    <target name="file" xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}.log"
              layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
              concurrentWrites="false" keepFileOpen="false"/>
    <target name="console" xsi:type="ColoredConsole"
            layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />

    <!--Application Logs-TableStorage-->
    <target xsi:type="AsyncWrapper" name="asyncTableStorage">
      <target xsi:type="AppTableStorageTarget" name="applicationlogconfig" connectionString="DefaultEndpointsProtocol=https;AccountName=devhpcastorage;AccountKey=D7n/b+sO+9cRHSG5pPHMxA8LOVZII6us2yPq26AWYF3l/2OLX7EdafWwVANNa8Yg7p9l6/kQqOwLrs4RGyzsQg==;EndpointSuffix=core.windows.net;"
              tableName="hpcalocaldevstorage"
          layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />
    </target>

    <target xsi:type="AsyncWrapper" name="asyncEventHub">
      
      <target xsi:type="AppEventHubTarget" name="applicationeventhubconfig" 
              connectionString="Endpoint=sb://hpcadevlocal.servicebus.windows.net/;SharedAccessKeyName=logeventhubaccess;SharedAccessKey=L+Kouq9y/Zgyhtb163SWs5ffALulbRT2yF4vnUJ6kOc=;EntityPath=logeventhub"
                        layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
      
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="console,file" />
     <logger name="*"  writeTo="applicationlogconfig" />
   <logger name="*"  writeTo="applicationeventhubconfig" />
  </rules>
</nlog>